.katex {
    font-size: 1.1em;
}
.remark {
    border-radius: 12px;
    /* padding: 20px; */
    padding-top: 16px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: SeaGreen;
    color: White;
}
.result {
    border-radius: 12px;
    /* padding: 20px; */
    padding-top: 16px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: DarkSlateBlue;
    color: White;
}
.imgtext{
    display: flex;
    align-items: center;
    justify-content: center;
}
