.katex {
    font-size: 1.1em;
}
.remark {
    border-radius: 15px;
    /* padding: 20px; */
    padding-top: 15px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: SeaGreen;
    color: White;
}
.result {
    border-radius: 15px;
    /* padding: 20px; */
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: DarkSlateBlue;
    color: White;
}
.imgtext{
    display: flex;
    align-items: center;
    justify-content: center;
}
