.katex {
    font-size: 1.1em;
}
.remark {
    border-radius: 15px;
    padding: 20px;
    background-color: SeaGreen;
    color: White;
}
.result {
    border-radius: 15px;
    padding: 20px;
    background-color: DarkSlateBlue;
    color: White;
}
.imgtext{
    display: flex;
    align-items: center;
    justify-content: center;
}
